.signupcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  max-width: 100%;
  margin: 50px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #ccc;
}

.signup-button {
  padding: 4px;
  float: right;
}


